<%= render "shared/login_form" %>

<h2>最新ニュース</h2>

<u1>
    <% Article.sidebar_articles(5).each do |article| %>
    <li><%= link_to article.title, article %></li>
    <% end %>
</u1>

<h2>会員のブログ</h2>
<ul>
    <% 5.times do |i| %>
    <li><%= link_to "ブログの見出し", "#" %></li>
    <% end %>
</ul>